:root {
  --white: #fff;
  --yellow: #FEC445;
  --yellow-dark: #976D1A;
  --half-golden-ratio-margin: 0.80901699437em;
  --golden-ratio-margin: 1.61803398875em;
}

body {
  background-color: var(--yellow);
  color: var(--yellow-dark);
  font-family: 'Jaldi', sans-serif;
}

svg {
  fill: currentColor;
}

a {
  color: currentColor;
}

main > header h1 {
  font-family: 'Baloo Paaji 2', cursive;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: var(--half-golden-ratio-margin) 0;
}

main {
  margin: 0 auto;
  width: 80vw;
  max-width: 600px;
}

main > header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: var(--golden-ratio-margin);
}

main > header figure {
  width: 5.4rem;
  margin: 0;
  color: var(--pink);
}

main > header h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--purple-light);
}

article h2 {
  margin-top: 0;
}

article h3 + p {
  margin-top: 0;
}

article p:last-child {
  margin-bottom: 0;
}

article {
  background-color: var(--white);
  padding: var(--golden-ratio-margin);
  border-radius: var(--golden-ratio-margin);
  margin: var(--golden-ratio-margin) 0;
}

p {
  line-height: var(--golden-ratio-margin);
  text-align: justify;
  margin: var(--golden-ratio-margin) 0;
}
