:root {
  --white: #fff;
  --yellow: #FFAE24;
  --yellow-dark: #976D1A;
  --half-golden-ratio-margin: 0.80901699437em;
  --gr-rem: 1.61803398875rem;
}

html,
body {
  font-family: 'Playfair Display', serif;
}

beeswax-candle {
  display: block;
  margin: var(--gr-rem) 0;
  width: 150px;
  height: 200px;
}

body {
  background-color: black;
  color: var(--yellow-dark);
  position: relative;
}

h1 {
  color: var(--yellow);
}

starry-sky {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0,
  right: 0;
  z-index: -1;
}

svg {
  fill: currentColor;
}

a {
  color: currentColor;
}

main,
footer {
  margin: 0 auto;
  width: 80vw;
  max-width: 600px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 2rem;
}

main > header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: var(--gr-rem);
}

main > header figure {
  width: 5.4rem;
  margin: 0;
  color: var(--pink);
}

main > header h1 {
  font-size: 3rem;
  margin: 0;
}

article h2 {
  margin-top: 0;
}

article h3 + p {
  margin-top: 0;
}

article p:last-child {
  margin-bottom: 0;
}

article {
  background-color: var(--white);
  padding: var(--gr-rem);
  border-radius: calc(var(--gr-rem) / 2);
  margin: var(--gr-rem) 0;
}

p {
  line-height: var(--gr-rem);
  text-align: justify;
  margin: var(--gr-rem) 0;
}

.image-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 180px;
}

.image-row picture,
.image-row img {
  height: 100%;
  display: block;
  border-radius: calc(var(--gr-rem) / 4);
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin: 0 calc(var(--gr-rem) / 4);
}

@media (max-width: 740px) {
  .image-row {
    height: 20vw;
  }
}

@media (max-width: 500px) {
  .image-row {
    height: 64px;
  }
}
