:root {
  --white: #fff;
  --yellow: #FFAE24;
  --yellow-dark: #976D1A;
  --half-golden-ratio-margin: 0.80901699437em;
  --golden-ratio-margin: 1.61803398875em;
}

html,
body {
  font-family: 'Playfair Display', serif;
}

beeswax-candle {
  margin: 2rem 0;
}

body {
  background-color: black;
  color: var(--yellow-dark);
  position: relative;
}

h1 {
  color: var(--yellow);
}

starry-sky {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0,
  right: 0;
  z-index: -1;
}

svg {
  fill: currentColor;
}

a {
  color: currentColor;
}

main,
footer {
  margin: 0 auto;
  width: 80vw;
  max-width: 600px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 2rem;
}

main > header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: var(--golden-ratio-margin);
}

main > header figure {
  width: 5.4rem;
  margin: 0;
  color: var(--pink);
}

main > header h1 {
  font-size: 3rem;
  margin: 0;
}

article h2 {
  margin-top: 0;
}

article h3 + p {
  margin-top: 0;
}

article p:last-child {
  margin-bottom: 0;
}

article {
  background-color: var(--white);
  padding: var(--golden-ratio-margin);
  border-radius: var(--golden-ratio-margin);
  margin: var(--golden-ratio-margin) 0;
}

p {
  line-height: var(--golden-ratio-margin);
  text-align: justify;
  margin: var(--golden-ratio-margin) 0;
}
